.is-flex
  display flex

  &.is-auto
    flex auto

  &.is-vertical
    flex-flow column

  &.is-between
    justify-content space-between

  &.is-center
    justify-content center
    align-items center