@import './variables.styl'

.has-padding
  padding 15px

  &.and-horizontal
    padding-top 0
    padding-bottom 0

  &.and-vertical
    padding-left 0
    padding-right 0
.has-margin
  margin 15px
  &.and-mini
    margin: 5px
  &.and-horizontal
    margin-top 0
    margin-bottom 0

  &.and-vertical
    margin-left 0
    margin-right 0

.has-background-primary
  color white
  background primary
.has-background-white
  color black
  background white
.has-shadow
  box-shadow: 0 5px 15px -3px rgba(primary, .3)